html {
    font-family: "Arial";
    font-size: 16;
}

body {
    margin: 0;
}

/* div {
    border: 1px dashed black;
} */

main {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65%;
}

footer {
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

/*-------------------------------<Header Styles>-------------------------------*/

header {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

/*-------------------------------<Top Header Styles>-------------------------------*/

.top-header {
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.links.alt {
    display: none;
}

.links.alt h4 {
    text-align: center;
    font-size: 14;
    font-weight: 300;
    margin-right: 20px;
    margin-left: 20px;
}

.links h4 {
    text-align: center;
    font-size: 14;
    font-weight: 300;
    margin-right: 20px;
    margin-left: 20px;
}

.links div {
    cursor: pointer;
}

.item:hover {
    background-color: rgb(200, 200, 200);
}

.lang {
    height: 100%;
    margin-left: 10px;
}

.sign-in {
    margin-right: 10px;
}

.lang a {
    font-size: 13;
    font-weight: 100;
    text-decoration: underline;
    color: #555;
}

.sign-in a {
    text-decoration: none;
    color: red;
}

.lang.list {
    display: none;
    background-color: lightgray;
}

.lang.list a {
    font-size: 13;
    font-weight: 100;
    text-decoration: underline;
    color: #555;
    margin: 5px;
}

/*-------------------------------</Top Header Styles>-------------------------------*/

/*-------------------------------<Bottom Header Styles>-------------------------------*/

.bottom-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 70px;
    width: 180px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.menu h4 {
    font-size: 17;
    font-weight: 400;
    margin-left: 25px;
    margin-right: 25px;
}

.menu.alt {
    display: none;
    margin: 5%;
}

.menu.alt div {
    height: 5px;
    width: 25px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-collapse: collapse;
}

.menu.alt .up {
    border-bottom: none;
}
.menu div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: auto;
    margin-top: 0px;
}

.menu .item.colored h4 {
    color: red;
}

.home-worth {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.home-logo img {
    width: 30px;
    height: 30px;
    margin: 5px;
    object-fit: cover;
}

.home-worth p {
    text-align: center;
    margin: 0;
}

/*-------------------------------</Bottom Header Styles>-------------------------------*/

/*-------------------------------<SubMenu Styles>-------------------------------*/

.aside-container {
    display: none;
    margin-left: 50%;
    height: 100%;
    width: 50%;
}

.aside-container.show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
}

.submenu {
    height: fit-content;
    margin-top: 0;
    background-color: white;
    border: 1px solid gray;
    border-right: none;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    margin-right: 40px;
}

.menu-item h3 {
    margin-right: 25px;
    margin-left: 3px;
    font-size: 21;
    font-weight: 100;
    cursor: pointer;
}

.menu-item.close {
    margin-left: 33%;
}

.icon {
    height: 25px;
    width: 25px;
    object-fit: cover;
}

.icon.circle {
    border-radius: 50%;
}

/*-------------------------------</SubMenu Styles>-------------------------------*/

/*-------------------------------<Small Display Header Styles>-------------------------------*/

@media screen and (max-width: 1100px) {
    .links {
        display: none;
    }

    .links.alt {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .menu {
        display: none;
    }

    .menu.alt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    .sign-in {
        margin-right: 5%;
    }
}

/* @media screen and (max-width: 400px) {
    .logo {
        display: none;
    }

    .bottom-header {
        justify-content: center;
        align-items: center;
    }

    .sign-in {
        margin-right: 0;
    } 
}*/

/*-------------------------------</Small Display Header Styles>-------------------------------*/

/*-------------------------------</Header Styles>-------------------------------*/
