html {
    font-family: "Calibri";
    font-size: 16;
}

body {
    margin: 0;
}

/* div {
    border: 1px solid gray;
} */

header {
    background-color: tomato;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: teal;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h h2 {
    font-size: 25;
    font-weight: 800;
    letter-spacing: 2px;
    color: red;
    margin: 0;
}

.txt {
    width: 80%;
}

.txt p {
    margin: 1em;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.shape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.block {
    width: 20%;
    background-color: rgb(255, 0, 0);
}

.block.odd {
    background-color: rgb(200, 0, 0);
}

.block h3 {
    text-align: center;
    color: white;
    font-size: 70;
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer h4 {
    margin-top: 5px;
    color: rgb(50, 50, 50);
    font-size: 18;
    font-weight: 800;
}
